.App {
  margin: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
 input {
  padding: 8px 12px;
  outline: none;
  width: 220px;
}
.list {
  border: 1px solid gray;
  height: 300px;
  overflow-y: auto;
  width: 220px;
  
}
.nodata {
  border: 1px solid gray;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
}
.list > .item {
  width: 100%;
  padding: 3px;
  border-bottom: 1px solid gray;
}
.list > .item > .id {
  font-size: 19px;
  font-weight: bold;
}
.list > .item > .name {
  font-size: 16px;
}
.list > .item > .small {
  font-size: 14px;
  
}




